{% extends "base.html" %}

{% block extralinks %}
	{{ block.super }}
{% endblock %}
{% block extracss %}
	{{ block.super }}
{% endblock %}

{% block extrascripts %}
	{{ block.super }}
{% endblock %}


{% block extrajs %}
	{{ block.super }}
{% endblock extrajs %}


{% block conteudo %}
<div id="conteudo" class="conteudo">
	<div class="asides">
		<div class="aside1">
			<div class="visual">
				<img alt="image description" src="/media/{{cupom.imagem}}"
					width="438" height="291" />
			</div>
			<div class="fine-box">
				<div class="fb-holder">
					<div class="fb-block">
						<h2>Sobre a Oferta</h2>
						{{ cupom.sobre_oferta }}
						<p>
							<strong><a href="#">Leia o FAQ sobre a oferta</a>
							</strong> for the basics
						</p>
					</div>
					<div class="fb-block">
						<h2>Destaques</h2>
						<ul>{{ cupom.destaque_oferta|safe }}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="buy">
			<div class="b-frame">
				<div class="price">
					<div class="frame">
<!----------------- Link para a compra -------------------------------->
						<a href="{{ cupom.get_checkout_url }}"><strong>
						R$ {{ cupom.desconto_valor|floatformat }}</strong> <span>Comprar</span>
						</a>
					</div>
				</div>
				<div class="details">
					<div class="details-holder">
						<dl>
							<dt>Valor</dt>
							<dd>
								<strong>R$ {{ cupom.valor_real|floatformat }}</strong>
							</dd>
						</dl>
						<dl class="list2">
							<dt>Desconto de</dt>
							<dd>
								<strong>{{ cupom.porcentagem_desconto|floatformat }}%</strong>
							</dd>
						</dl>
						<dl class="list3">
							<dt>Economia de</dt>
							<dd>
								<strong>R$ {{ cupom.valor_desconto|floatformat }}</strong>
							</dd>
						</dl>
					</div>
				</div>
				<a class="buy-for-friend" href="#"> <span><strong>
					Compre para um amigo</strong>
				</span> </a>
				<div class="buy-block">
					<div class="oferta-txt">
						<h3>Ofertas disponiveis{{ cupom.num_disponivel }}</h3>
						{% if cupom.ativo %}
							<p>Fecha quando {{ cupom.num_necessario_fechamento }} ofertas forem
								vendidas e até {{ cupom.data_fechamento }}</p>
							{% else %}
							<div id="pb1" class="pb1"></div>
							<p>Precisa de {{ cupom.num_necessario_fechamento }} para
								fechar essa oferta</p>
						{% endif %}
					</div>
					{% if cupom.ativo %}
					<div class="oferta-state">
						<strong>Oferta está valendo</strong> <img
							alt="oferta está valendo" src="/media/images/ico-oferta-on.gif"
							width="38" height="38" />
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="box-b"></div>
</div>
 <div class="box-t">
                            
                            
                            </div>
                            <div class="box-c">
                            <!-- Mapa -->
		                         	{{ form.map }}
							        {{ form.media.js }}
							        <script type="text/javascript">
							            window.myobj = {
							                markerOver: function() { this.openInfoWindow(); },
							                markerOut: function() { this.closeInfoWindow(); }
							            };
							        </script>
                                <div class="content-area">
                                    <p>{{ oferta.descricao|safe }}</p>
                                </div>
                                <div class="aside2">
                                    <h2>{{ oferta.anunciante }}</h2>
                                    <ul class="company-list">
                                        <li>
                                            <strong class="title">Aroma Spa</strong>
                                            {% if oferta.anunciante.website %}<div class="url"><a href="{{ oferta.anunciante.website }}">{{ oferta.anunciante.website }}</a></div>{% endif %}
                                            <div class="address">{{ oferta.get_endereco_completo }}</div>
                                            <div class="phone">{{ oferta.get_telefones }}</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="box-b">
                                     
                            </div>
                        
                        </div>
                    </div>
                    <div id="sidebar">
                        <div class="sb-box">
                            <div class="t"></div>
                            <div class="c">
                                <div class="content">
                                    <h2>Compartilha esta oferta!</h2>
                                    <ul class="social-services">
                                        <li>

										<script type="text/javascript">
										function callPublish(msg, attachment, action_link) {
										  FB.ensureInit(function () {
										    FB.Connect.streamPublish('', attachment, action_link);
										  });
										}</script>

                                            <a href="" onclick="callPublish('',{'name':'You should get this Massive Coupon!','href':'http://www.massivecoupon.com','description':'{{ oferta.titulo }}'},null);return false;">

                                                <img alt="facebook" src="/media/images/ico-facebook.gif" width="63" height="53" />
                                                <strong>facebook</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="http://twitter.com/home?status={{ oferta.title}} http://massivecoupon.com">
                                                <img alt="twitter" src="/media/images/ico-twitter.gif" width="63" height="53" />
                                                <strong>twitter</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="mailto:?body={{ oferta.title }} http://www.massivecoupon.com/ofertas/{{ oferta.city}}/{{ oferta.slug }}/?utm_campaign=VisitorReferral&amp;utm_medium=email&amp;utm_source=anonymous">
                                                <img alt="Email a friend!" src="/media/images/ico-email.gif" width="63" height="53" />
                                                <strong>Email a friend!</strong>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="give-box">
                                        <div class="holder">
                                            <h3>Give a Massive Coupon as a Gift!</h3>
                                            <div class="give-txt">
                                                <img class="png" alt="image description" src="/media/images/ico-coupon.png" width="74" height="47" />
                                                <a class="btn-buy-gift-card" href="#">Buy Gift Card</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b"></div>
                        </div>
                        <div class="sb-box business">
                            <div class="t"></div>
                            <div class="c">
                                <div class="content">
                                    <strong class="title"><span>Get Your Business on</span> <img alt="MassiveCoupon.com" src="/media/images/logo4.gif" width="69" height="30" /></strong>
                                    <div class="business-txt">
                                        <img alt="image description" src="/media/images/ico-business.gif" width="48" height="40" />
                                        <p><a href="#"><strong>Learn <span>More</span></strong></a> about how MassiveCoupon can help bring tons of customers to your door</p>
                                    </div>
                                </div>
                            </div>
                            <div class="b"></div>
                        </div>
                        <div class="sb-box">
                            <div class="t"></div>
                            <div class="c">
                                <div class="content">
                                    <h3>Como funcionam as Ofertas Clipper</h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="b"></div>
                        </div>
                    </div>
                </div>
            </div> 
</div>
{% endblock conteudo %}

